@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url("../images/john-background.jpg");
    background-size: cover;
    background-blend-mode: darken;
  }

  .container {
    max-width: 1400px;
    padding: 0 2rem;
    margin: 0 auto;
  }
}
